<h1>Pets directory</h1>

<% @pets.each do |pet| %>
  <h4>Name: <%=pet.name%></h4>
  <% @owner.each do |owner| %>
    <% if pet.owner_id == owner.id %>
    <h4>Owner: <%=owner.name%></h4>
    <% end %>
  <% end %>
<% end %>